# SQL Methods for Data Analytics

<br/>
<div style="width:200px"><img src="images/sql_analytics.png" alt="sql analytics icon" width="200px" style="text-align:left;"/></div>
<br/>

## What is SQL (Structured Query Language)?

<ul style="font-size:20px;line-height:24px;">
   <li>Special-purpose, declarative programming language</li>
   <li>Designed to define, manipulate, retrieve data stored in databases</li>
   <li>ANSI standard with many extensions by dialects</li>
</ul>



## Advantages in Data Analytics

<ul style="font-size:20px;line-height:24px;">
    <li>Readable and maintainable expressive style of sentence semantics</li>
    <li>Layered in application code (i.e., Python) and transferable across platforms</li>
    <li>Efficiency with set-based, logical order, and query optimizer</li>
    <li>Scales to big data platforms and repositories</li>
    <li>Complementary tool with heavy lifting of data pipeline</li>
</ul>

### Example Data:

<span style="font-size:18px">Botanic Gardens Conservation International (BGCI)<br/>
Plants Threat Assessment: <a href="https://tools.bgci.org/plant_search.php">https://tools.bgci.org/plant_search.php</a></span>

In [1]:
%%html
<style>.prompt{width: 100px; min-width: 0; visibility: collapse}</style>

In [2]:
%load_ext sql

<div style="float:right;"><img src="images/sqlite_icon.jpg" alt="sql analytics icon" width="50px"/></div>

## SQLite Database 
<span style="font-size:20px">(file-level, open-source RDBMS)</span>

In [3]:
conn = "sqlite:///data/BGCI_Plants_ThreatSearch.db"

## Data Organization

<span style="font-size:20px">(e.g., data cleaning, formatting, processing)</span>

In [4]:
%%sql $conn
SELECT major_group
      , family
      , genus
      , plant_name
      , published_conservation_status AS published_status
      , interpreted_conservation_status AS interpreted_status
      , assessment_year
      , scope
      , source
FROM plants_assessment 
LIMIT 10;

Done.

[('Angiosperms', 'Acanthaceae', 'Acanthopale', 'Acanthopale decempedalis C.B.Clarke', 'VU', 'Threatened', 2014, 'Global', 'IUCN Red List'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopale', 'Acanthopale decempedalis C.B.Clarke', 'VU', 'Threatened', 2011, 'Global', 'Onana and Cheek 2011'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopale', 'Acanthopale decempedalis C.B.Clarke', 'VU', 'Threatened', 2011, 'Global', 'Onana (The Vascular Plants of Cameroon) (2011)'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopale', 'Acanthopale laxiflora (Lindau) C.B.Clarke', 'LC', 'Not Threatened', 2015, 'Global', 'IUCN Red List'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopale', 'Acanthopale macrocarpa Vollesen', 'LC', 'Not Threatened', 2015, 'Global', 'IUCN Red List'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopale', 'Acanthopale pubescens (Lindau ex Engl.) C.B.Clarke', 'DD', 'Data Deficient', 2001, 'Unknown', 'nationalredlist.org'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopsis', 'Acanthopsis carduifolia (L.f.) Schinz', 'LC', 'Not Threatened', 2006, 'Unknown, South Africa', 'Red List of South African plants version 2014.1'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopsis', 'Acanthopsis disperma Harv.', 'LC', 'Not Threatened', 2006, 'Unknown, South Africa', 'Red List of South African plants version 2014.1'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopsis', 'Acanthopsis glauca (E.Mey.) Schinz', 'DD', 'Data Deficient', 2008, 'Unknown, South Africa', 'Red List of South African plants version 2014.1'),
 ('Angiosperms', 'Acanthaceae', 'Acanthopsis', 'Acanthopsis hoffmannseggiana (Nees) C.B.Clarke', 'LC', 'Not Threatened', 2006, 'Unknown, South Africa', 'Red List of South African plants version 2014.1')]

In [5]:
%%sql $conn
SELECT major_group
      , family
      , genus
      , SUBSTR(plant_name, 1, INSTR(plant_name, ' '))                         -- STRING FUNCTIONS
        ||              
        SUBSTR(REPLACE(plant_name,
                       SUBSTR(plant_name, 1, INSTR(plant_name, ' ')),
                       ''),
               1, 
               INSTR(REPLACE(plant_name,
                             SUBSTR(plant_name, 1, INSTR(plant_name, ' ')),
                            ''),
                     ' ')
               ) AS plant       
      , published_conservation_status AS published_status
      , CASE                                                                  -- CONDITIONAL LOGIC
            WHEN interpreted_conservation_status = 'Data Deficient'
            THEN NULL
            ELSE interpreted_conservation_status
        END AS interpreted_status
      , assessment_year
      , assessment_year - 1970 AS study_year                                  -- ARITHMETIC OPERATIONS
      , CASE                                                                  -- CONDITIONAL LOGIC
            WHEN scope LIKE '%Unknown%'                                       -- STRING PATTERN SEARCH
            THEN NULL
            ELSE scope                                                      
        END AS scope
      , SUBSTR(source, 1, 30) AS short_source                                 -- STRING FUNCTIONS  
        
FROM plants_assessment 
ORDER BY ROWID DESC LIMIT 10;

Done.

[('Bryophytes', 'Wiesnerellaceae', 'Wiesnerella', 'Wiesnerella fasciaria ', 'DD', None, 2013, 43, 'Global', 'Chinese Red List of biodiversi'),
 ('Bryophytes', 'Wiesnerellaceae', 'Wiesnerella', 'Wiesnerella denudata ', 'DD', None, 2012, 42, 'Not Global, Regional', 'Kew_CAT'),
 ('Bryophytes', 'Wiesnerellaceae', 'Wiesnerella', 'Wiesnerella denudata ', 'LC', 'Not Threatened', 2013, 43, 'Not Global', 'Chinese Red List of biodiversi'),
 ('Bryophytes', 'Trichocoleaceae', 'Trichocolea', 'Trichocolea tomentella ', 'V', 'Possibly Threatened', 2005, 35, None, 'nationalredlist.org'),
 ('Bryophytes', 'Trichocoleaceae', 'Trichocolea', 'Trichocolea tomentella ', '3', 'Threatened', 1996, 26, None, 'nationalredlist.org'),
 ('Bryophytes', 'Trichocoleaceae', 'Trichocolea', 'Trichocolea tomentella ', 'EN', 'Threatened', 2004, 34, None, 'nationalredlist.org'),
 ('Bryophytes', 'Trichocoleaceae', 'Trichocolea', 'Trichocolea tomentella ', 'E', 'Threatened', 2007, 37, None, 'nationalredlist.org'),
 ('Bryophytes', 'Trichocoleaceae', 'Trichocolea', 'Trichocolea tomentella ', 'EN', 'Threatened', 2010, 40, None, 'nationalredlist.org'),
 ('Bryophytes', 'Trichocoleaceae', 'Trichocolea', 'Trichocolea tomentella ', 'EN', 'Threatened', 2006, 36, None, 'nationalredlist.org'),
 ('Bryophytes', 'Trichocoleaceae', 'Trichocolea', 'Trichocolea tomentella ', 'G5', 'Not Threatened', 2017, 47, 'Global', 'NatureServe 2017. Central Biot')]

## Set-Based Operations

In [6]:
%%sql $conn
SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Not Threatened'
GROUP BY scope

UNION 

SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Threatened'
GROUP BY scope

Done.

[('Global',),
 ('Global & Europe',),
 ('Global & Mediterranean',),
 ('Global & Pan-Africa',),
 ('Global, Argentina',),
 ('Global, Armenia',),
 ('Global, Cape Verde',),
 ('Global, Country endemic',),
 ('Global, Cuba',),
 ('Global, Europe & Mediterranean',),
 ('Global, Iraq',),
 ('Global, Madagascar',),
 ('Global, Mediterranean & Pan-Africa',),
 ('Global, Morocco',),
 ('Global, Pan-Africa & S. Africa FW',),
 ('Global, endemic',),
 ('Global, suspected endemic',),
 ('Global?',),
 ('Not Global',),
 ('Not Global, Europe',),
 ('Not Global, Europe & Mediterranean',),
 ('Not Global, Jordan',),
 ('Not Global, Mediterranean',),
 ('Not Global, Mediterranean & Pan-Africa',),
 ('Not Global, National',),
 ('Not Global, Near-endemic',),
 ('Not Global, Pan-Africa',),
 ('Not Global, Pan-Africa & S. Africa FW',),
 ('Not Global, Regional',),
 ('Not Global, Regional endemic',),
 ('Not Global, Sub-endemic',),
 ('Not Global, suspected near endemic',),
 ('Not global, Armenia',),
 ('Unknown',),
 ('Unknown, Brazil',),
 ('Unknown, Cuba',),
 ('Unknown, South Africa',)]

In [7]:
%%sql $conn
SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Not Threatened'
GROUP BY scope

INTERSECT

SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Threatened'
GROUP BY scope

Done.

[('Global',),
 ('Global & Europe',),
 ('Global & Mediterranean',),
 ('Global, Argentina',),
 ('Global, Cape Verde',),
 ('Global, Europe & Mediterranean',),
 ('Global, Iraq',),
 ('Global, Morocco',),
 ('Global, endemic',),
 ('Global, suspected endemic',),
 ('Not Global',),
 ('Not Global, Europe',),
 ('Not Global, Europe & Mediterranean',),
 ('Not Global, Jordan',),
 ('Not Global, Mediterranean',),
 ('Not Global, Near-endemic',),
 ('Not Global, Pan-Africa',),
 ('Not Global, Regional',),
 ('Not global, Armenia',),
 ('Unknown',),
 ('Unknown, Brazil',),
 ('Unknown, South Africa',)]

In [8]:
%%sql $conn
SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Threatened'
GROUP BY scope

EXCEPT

SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Not Threatened'
GROUP BY scope

Done.

[('Global, Armenia',),
 ('Global, Country endemic',),
 ('Global, Cuba',),
 ('Global, Madagascar',),
 ('Global, Mediterranean & Pan-Africa',),
 ('Global, Pan-Africa & S. Africa FW',),
 ('Global?',),
 ('Not Global, National',),
 ('Not Global, Regional endemic',),
 ('Not Global, Sub-endemic',),
 ('Not Global, suspected near endemic',),
 ('Unknown, Cuba',)]

In [9]:
%%sql $conn
SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Not Threatened'
GROUP BY scope

EXCEPT

SELECT scope
FROM plants_assessment
WHERE interpreted_conservation_status = 'Threatened'
GROUP BY scope

Done.

[('Global & Pan-Africa',),
 ('Not Global, Mediterranean & Pan-Africa',),
 ('Not Global, Pan-Africa & S. Africa FW',)]

## Combinations/Permutations Pairing

<span style="font-size:20px">(e.g., balanced longitudinal panel and time series)</span>

In [10]:
%%sql $conn
SELECT m.major_group
     , y.assessment_year
FROM 
  (SELECT DISTINCT major_group FROM plants_assessment) m
CROSS JOIN
  (SELECT DISTINCT assessment_year FROM plants_assessment) y
WHERE m.major_group IS NOT NULL
  AND y.assessment_year IS NOT NULL
ORDER BY m.major_group
       , y.assessment_year

Done.

[('Angiosperms', 1970),
 ('Angiosperms', 1983),
 ('Angiosperms', 1984),
 ('Angiosperms', 1985),
 ('Angiosperms', 1986),
 ('Angiosperms', 1987),
 ('Angiosperms', 1988),
 ('Angiosperms', 1989),
 ('Angiosperms', 1990),
 ('Angiosperms', 1991),
 ('Angiosperms', 1992),
 ('Angiosperms', 1993),
 ('Angiosperms', 1994),
 ('Angiosperms', 1995),
 ('Angiosperms', 1996),
 ('Angiosperms', 1997),
 ('Angiosperms', 1998),
 ('Angiosperms', 1999),
 ('Angiosperms', 2000),
 ('Angiosperms', 2001),
 ('Angiosperms', 2002),
 ('Angiosperms', 2003),
 ('Angiosperms', 2004),
 ('Angiosperms', 2005),
 ('Angiosperms', 2006),
 ('Angiosperms', 2007),
 ('Angiosperms', 2008),
 ('Angiosperms', 2009),
 ('Angiosperms', 2010),
 ('Angiosperms', 2011),
 ('Angiosperms', 2012),
 ('Angiosperms', 2013),
 ('Angiosperms', 2014),
 ('Angiosperms', 2015),
 ('Angiosperms', 2016),
 ('Angiosperms', 2017),
 ('Angiosperms', 2018),
 ('Angiosperms', 2019),
 ('Angiosperms', 2020),
 ('Bryophytes', 1970),
 ('Bryophytes', 1983),
 ('Bryophytes', 1984),
 ('Bryophytes', 1985),
 ('Bryophytes', 1986),
 ('Bryophytes', 1987),
 ('Bryophytes', 1988),
 ('Bryophytes', 1989),
 ('Bryophytes', 1990),
 ('Bryophytes', 1991),
 ('Bryophytes', 1992),
 ('Bryophytes', 1993),
 ('Bryophytes', 1994),
 ('Bryophytes', 1995),
 ('Bryophytes', 1996),
 ('Bryophytes', 1997),
 ('Bryophytes', 1998),
 ('Bryophytes', 1999),
 ('Bryophytes', 2000),
 ('Bryophytes', 2001),
 ('Bryophytes', 2002),
 ('Bryophytes', 2003),
 ('Bryophytes', 2004),
 ('Bryophytes', 2005),
 ('Bryophytes', 2006),
 ('Bryophytes', 2007),
 ('Bryophytes', 2008),
 ('Bryophytes', 2009),
 ('Bryophytes', 2010),
 ('Bryophytes', 2011),
 ('Bryophytes', 2012),
 ('Bryophytes', 2013),
 ('Bryophytes', 2014),
 ('Bryophytes', 2015),
 ('Bryophytes', 2016),
 ('Bryophytes', 2017),
 ('Bryophytes', 2018),
 ('Bryophytes', 2019),
 ('Bryophytes', 2020),
 ('Gymnosperms', 1970),
 ('Gymnosperms', 1983),
 ('Gymnosperms', 1984),
 ('Gymnosperms', 1985),
 ('Gymnosperms', 1986),
 ('Gymnosperms', 1987),
 ('Gymnosperms', 1988),
 ('Gymnosperms', 1989),
 ('Gymnosperms', 1990),
 ('Gymnosperms', 1991),
 ('Gymnosperms', 1992),
 ('Gymnosperms', 1993),
 ('Gymnosperms', 1994),
 ('Gymnosperms', 1995),
 ('Gymnosperms', 1996),
 ('Gymnosperms', 1997),
 ('Gymnosperms', 1998),
 ('Gymnosperms', 1999),
 ('Gymnosperms', 2000),
 ('Gymnosperms', 2001),
 ('Gymnosperms', 2002),
 ('Gymnosperms', 2003),
 ('Gymnosperms', 2004),
 ('Gymnosperms', 2005),
 ('Gymnosperms', 2006),
 ('Gymnosperms', 2007),
 ('Gymnosperms', 2008),
 ('Gymnosperms', 2009),
 ('Gymnosperms', 2010),
 ('Gymnosperms', 2011),
 ('Gymnosperms', 2012),
 ('Gymnosperms', 2013),
 ('Gymnosperms', 2014),
 ('Gymnosperms', 2015),
 ('Gymnosperms', 2016),
 ('Gymnosperms', 2017),
 ('Gymnosperms', 2018),
 ('Gymnosperms', 2019),
 ('Gymnosperms', 2020),
 ('Pteridophytes', 1970),
 ('Pteridophytes', 1983),
 ('Pteridophytes', 1984),
 ('Pteridophytes', 1985),
 ('Pteridophytes', 1986),
 ('Pteridophytes', 1987),
 ('Pteridophytes', 1988),
 ('Pteridophytes', 1989),
 ('Pteridophytes', 1990),
 ('Pteridophytes', 1991),
 ('Pteridophytes', 1992),
 ('Pteridophytes', 1993),
 ('Pteridophytes', 1994),
 ('Pteridophytes', 1995),
 ('Pteridophytes', 1996),
 ('Pteridophytes', 1997),
 ('Pteridophytes', 1998),
 ('Pteridophytes', 1999),
 ('Pteridophytes', 2000),
 ('Pteridophytes', 2001),
 ('Pteridophytes', 2002),
 ('Pteridophytes', 2003),
 ('Pteridophytes', 2004),
 ('Pteridophytes', 2005),
 ('Pteridophytes', 2006),
 ('Pteridophytes', 2007),
 ('Pteridophytes', 2008),
 ('Pteridophytes', 2009),
 ('Pteridophytes', 2010),
 ('Pteridophytes', 2011),
 ('Pteridophytes', 2012),
 ('Pteridophytes', 2013),
 ('Pteridophytes', 2014),
 ('Pteridophytes', 2015),
 ('Pteridophytes', 2016),
 ('Pteridophytes', 2017),
 ('Pteridophytes', 2018),
 ('Pteridophytes', 2019),
 ('Pteridophytes', 2020)]

## Aggregation

<span style="font-size:20px">(e.g., summary stats and diagnostics)</span>

In [11]:
%%sql $conn
SELECT p.major_group
     , COUNT(DISTINCT p.family) AS unq_families
     , COUNT(DISTINCT p.genus) AS unq_genera
     , COUNT(p.plant_name) AS count_plants
     , MIN(p.assessment_year) AS min_year
     , MAX(p.assessment_year) AS max_year
     
FROM plants_assessment p
GROUP BY p.major_group

Done.

[('Angiosperms', 431, 10106, 79709, 1970, 2020),
 ('Bryophytes', 148, 860, 6862, 1991, 2018),
 ('Gymnosperms', 11, 79, 807, 1983, 2019),
 ('Pteridophytes', 49, 374, 3440, 1984, 2020)]

In [12]:
%%sql $conn
SELECT p.interpreted_conservation_status
     , COUNT(DISTINCT p.family) AS unq_families
     , COUNT(DISTINCT p.genus) AS unq_genera
     , COUNT(p.plant_name) AS count_pants
     , MIN(p.assessment_year) AS min_year
     , MAX(p.assessment_year) AS max_year
     
FROM plants_assessment p
GROUP BY p.interpreted_conservation_status

Done.

[('Data Deficient', 371, 2787, 5599, 1985, 2020),
 ('Extinct', 229, 874, 1461, 1987, 2019),
 ('Not Threatened', 559, 7845, 34736, 1970, 2020),
 ('Possibly Threatened', 472, 5644, 14558, 1984, 2020),
 ('Threatened', 550, 7821, 34464, 1986, 2020)]

In [13]:
%%sql $conn
SELECT p.major_group
     , p.interpreted_conservation_status
     , COUNT(DISTINCT p.family) AS unq_families
     , COUNT(DISTINCT p.genus) AS unq_genera
     , COUNT(p.plant_name) AS count_plants
     , MIN(p.assessment_year) AS min_year
     , MAX(p.assessment_year) AS max_year
     
FROM plants_assessment p
GROUP BY p.major_group
       , p.interpreted_conservation_status

Done.

[('Angiosperms', 'Data Deficient', 233, 2260, 4472, 1985, 2020),
 ('Angiosperms', 'Extinct', 152, 706, 1195, 1987, 2019),
 ('Angiosperms', 'Not Threatened', 377, 6921, 30737, 1970, 2020),
 ('Angiosperms', 'Possibly Threatened', 314, 5020, 12783, 1984, 2020),
 ('Angiosperms', 'Threatened', 366, 6878, 30522, 1986, 2020),
 ('Bryophytes', 'Data Deficient', 100, 356, 711, 1996, 2018),
 ('Bryophytes', 'Extinct', 56, 124, 198, 1996, 2017),
 ('Bryophytes', 'Not Threatened', 130, 609, 2494, 1991, 2018),
 ('Bryophytes', 'Possibly Threatened', 109, 393, 1205, 1991, 2018),
 ('Bryophytes', 'Threatened', 130, 592, 2254, 1992, 2018),
 ('Gymnosperms', 'Data Deficient', 6, 11, 18, 2002, 2013),
 ('Gymnosperms', 'Extinct', 3, 3, 3, 1994, 1997),
 ('Gymnosperms', 'Not Threatened', 9, 52, 211, 1983, 2017),
 ('Gymnosperms', 'Possibly Threatened', 11, 56, 162, 1994, 2017),
 ('Gymnosperms', 'Threatened', 10, 64, 413, 1987, 2019),
 ('Pteridophytes', 'Data Deficient', 33, 160, 398, 1990, 2019),
 ('Pteridophytes', 'Extinct', 18, 41, 65, 1990, 2018),
 ('Pteridophytes', 'Not Threatened', 43, 263, 1294, 1984, 2019),
 ('Pteridophytes', 'Possibly Threatened', 39, 175, 408, 1989, 2019),
 ('Pteridophytes', 'Threatened', 48, 289, 1275, 1987, 2020)]

## Conditional Aggregation to Reshape Data

<span style="font-size:20px">(e.g., reporting and presentation)</span>

In [14]:
%%sql $conn
SELECT p.major_group
     , SUM(p.assessment_year == 2015) AS count_plants_2015
     , SUM(p.assessment_year == 2016) AS count_plants_2016
     , SUM(p.assessment_year == 2017) AS count_plants_2017
     , SUM(p.assessment_year == 2018) AS count_plants_2018
     , SUM(p.assessment_year == 2019) AS count_plants_2019
     , SUM(p.assessment_year == 2020) AS count_plants_2020
FROM plants_assessment p
WHERE p.interpreted_conservation_status = 'Threatened' 
GROUP BY p.major_group

Done.

[('Angiosperms', 860, 1389, 2655, 1368, 756, 57),
 ('Bryophytes', 6, 79, 80, 8, 0, 0),
 ('Gymnosperms', 3, 8, 60, 4, 1, 0),
 ('Pteridophytes', 23, 24, 237, 79, 30, 3)]

In [15]:
%%sql $conn
SELECT p.major_group
     , COUNT(*) AS count_plants
     , SUM(p.interpreted_conservation_status = 'Threatened') AS count_threatened_plants
     , SUM(p.interpreted_conservation_status = 'Not Threatened') AS count_not_threatened_plants
FROM plants_assessment p
WHERE p.assessment_year >= 2015
GROUP BY p.major_group

Done.

[('Angiosperms', 17293, 7085, 7287),
 ('Bryophytes', 776, 173, 507),
 ('Gymnosperms', 101, 76, 16),
 ('Pteridophytes', 898, 396, 345)]

## Common Table Expression (CTE) And Window Functions

<span style="font-size:20px">(e.g., running calculations, lead/lag variables, moving averages)</span>

In [16]:
%%sql $conn
WITH sub AS 
  (SELECT p.major_group
        , p.interpreted_conservation_status
        , COUNT(DISTINCT p.family) AS unq_families
        , COUNT(DISTINCT p.genus) AS unq_genera
        , COUNT(p.plant_name)*1.00 AS count_plants
        , MIN(p.assessment_year) AS min_year
        , MAX(p.assessment_year) AS max_year
   FROM plants_assessment p
   GROUP BY p.major_group
          , p.interpreted_conservation_status
  ) 
  
SELECT sub.major_group
     , sub.interpreted_conservation_status
     , sub.count_plants
     , ROW_NUMBER() OVER(PARTITION BY sub.major_group
                         ORDER BY sub.count_plants DESC) AS rn
     , SUM(sub.count_plants) OVER(PARTITION BY sub.major_group) AS group_sum
     , ROUND(sub.count_plants / SUM(sub.count_plants) 
                                OVER(PARTITION BY sub.major_group), 4) AS pct_total
     , SUM(sub.count_plants) OVER(PARTITION BY sub.major_group
                                  ORDER BY sub.count_plants DESC) AS run_sum
FROM sub
ORDER BY sub.major_group
       , sub.count_plants DESC

Done.

[('Angiosperms', 'Not Threatened', 30737.0, 1, 79709.0, 0.3856, 30737.0),
 ('Angiosperms', 'Threatened', 30522.0, 2, 79709.0, 0.3829, 61259.0),
 ('Angiosperms', 'Possibly Threatened', 12783.0, 3, 79709.0, 0.1604, 74042.0),
 ('Angiosperms', 'Data Deficient', 4472.0, 4, 79709.0, 0.0561, 78514.0),
 ('Angiosperms', 'Extinct', 1195.0, 5, 79709.0, 0.015, 79709.0),
 ('Bryophytes', 'Not Threatened', 2494.0, 1, 6862.0, 0.3635, 2494.0),
 ('Bryophytes', 'Threatened', 2254.0, 2, 6862.0, 0.3285, 4748.0),
 ('Bryophytes', 'Possibly Threatened', 1205.0, 3, 6862.0, 0.1756, 5953.0),
 ('Bryophytes', 'Data Deficient', 711.0, 4, 6862.0, 0.1036, 6664.0),
 ('Bryophytes', 'Extinct', 198.0, 5, 6862.0, 0.0289, 6862.0),
 ('Gymnosperms', 'Threatened', 413.0, 1, 807.0, 0.5118, 413.0),
 ('Gymnosperms', 'Not Threatened', 211.0, 2, 807.0, 0.2615, 624.0),
 ('Gymnosperms', 'Possibly Threatened', 162.0, 3, 807.0, 0.2007, 786.0),
 ('Gymnosperms', 'Data Deficient', 18.0, 4, 807.0, 0.0223, 804.0),
 ('Gymnosperms', 'Extinct', 3.0, 5, 807.0, 0.0037, 807.0),
 ('Pteridophytes', 'Not Threatened', 1294.0, 1, 3440.0, 0.3762, 1294.0),
 ('Pteridophytes', 'Threatened', 1275.0, 2, 3440.0, 0.3706, 2569.0),
 ('Pteridophytes', 'Possibly Threatened', 408.0, 3, 3440.0, 0.1186, 2977.0),
 ('Pteridophytes', 'Data Deficient', 398.0, 4, 3440.0, 0.1157, 3375.0),
 ('Pteridophytes', 'Extinct', 65.0, 5, 3440.0, 0.0189, 3440.0)]

## Interval, Lateral, and Range Join

<span style="font-size:20px">(e.g., log files, event/time studies, tracking data)</span>

In [17]:
%%sql $conn
WITH union_sub AS (
    SELECT p1.major_group AS p1_major_group
         , p1.interpreted_conservation_status AS p1_inter_status
         , p1.plant_name AS p1_plant_name
         , p2.major_group AS p2_major_group
         , p2.interpreted_conservation_status AS p2_inter_status
         , p2.plant_name AS p2_plant_name
    
    FROM plants_assessment p1
    LEFT JOIN plants_assessment p2
      ON  p1.major_group = p2.major_group 
      AND p1.family = p2.family
      AND p1.genus = p2.genus
      AND p1.plant_name = p2.plant_name
      AND p1.assessment_year <= 2000
      AND p2.assessment_year >= 2001

    UNION ALL

    SELECT p1.major_group AS p1_major_group
         , p1.interpreted_conservation_status AS p1_inter_status
         , p1.plant_name AS p1_plant_name
         , p2.major_group AS p2_major_group
         , p2.interpreted_conservation_status AS p2_inter_status
         , p2.plant_name AS p2_plant_name
    
    FROM plants_assessment p2
    LEFT JOIN plants_assessment p1
      ON  p1.major_group = p2.major_group 
      AND p1.family = p2.family
      AND p1.genus = p2.genus
      AND p1.plant_name = p2.plant_name
      AND p1.assessment_year <= 2000
      AND p2.assessment_year >= 2001
    
    WHERE p1.plant_name IS NOT NULL
)

SELECT COALESCE(p1_major_group, p2_major_group) AS major_group
     , SUM(p1_inter_status = 'Threatened' AND
           p1_plant_name IS NOT NULL) AS threatened_plants_20c
     , SUM(p2_inter_status = 'Threatened' AND
           p2_plant_name IS NOT NULL) AS threatened_plants_21c
     , SUM(p1_inter_status = 'Not Threatened' AND
           p1_plant_name IS NOT NULL) AS unthreatened_plants_20c
     , SUM(p2_inter_status = 'Not Threatened' AND
           p2_plant_name IS NOT NULL) AS unthreatened_plants_21c
FROM union_sub
GROUP BY COALESCE(p1_major_group, p2_major_group) ;

Done.

[('Angiosperms', 44553, 16232, 38163, 11082),
 ('Bryophytes', 4068, 3022, 4633, 2302),
 ('Gymnosperms', 635, 404, 275, 138),
 ('Pteridophytes', 1694, 478, 1617, 462)]

<br/>
<br/>
<br/>